<h1>my page</h1>

  <div class="container px-5 px-sm-0">

    <div class="row">

      <div class="col-md-3">

        <h2>Customer info</h2>

      <table class="table">

        <tbody>

          <tr></tr>

          <tr>

        	  <th>name</th>

        	  <th><%= customer.last_name %> <%= customer.first_name %></th>

          </tr>

          <tr>

        	  <th>email</th>

        	  <th><%= customer.email %></th>

          </tr>

          <tr>

        	  <th>address</th>

        	  <th><%= customer.address %></th>

          </tr>

        </tbody>

      </table>

      <div class="row">

        <%= link_to public_edit_customers_path(@customer.id), class:'btn btn-outline-secondary btn-block' do %>
          <i class="fas fa-user-cog"></i>
        <% end %>

      </div>

<div class="container px-5 px-sm-0">

<div class="row">


<%= render 'user_info', book:@book,user:current_user %>


      <div class="col-md-8 offset-md-1">

        <h2>Orders</h2>

        <table class="table table-hover table-inverse">

          <thead>

            <tr>

              <th></th>

              <th>Title</th>

              <th>Opinion</th>

              <th colspan="3"></th>

            </tr>

          </thead>

          <tbody>

            <% @orders.each do | %>

              <tr>

                <td>

                  <%= link_to user_path(book.user.id) do %>

                    <%= image_tag @orders.customer.get_profile_image(100,100) %>

                  <% end %>

                </td>

                <td>

                  <%= link_to _path(.id) do %>

                    <%= @item.name %>

                  <% end %>

                </td>

                <td>

                  <%= @item.price %>

                </td>

              </tr>

            <% end %>

          </tbody>

        </table>

      </div>

  </div>

</div>


