<section class="py-5 text-center container">

  <div class="row py-lg-5">

    <div class="col-lg-6 col-md-8 mx-auto">

      <h1 class="fw-light">My Page</h1>

      <table class="table">

        <tbody>

          <tr></tr>

          <tr>

        	  <th>Name</th>

        	  <th><%= @customer.last_name %> <%= @customer.first_name %></th>

          </tr>

          <tr>

        	  <th>Email</th>

        	  <th><%= @customer.email %></th>

          </tr>

          <tr>

        	  <th>Postal Code</th>

        	  <th><%= @customer.postal_code %></th>

          </tr>

          <tr>

        	  <th>Address</th>

        	  <th><%= @customer.address %></th>

          </tr>

          <tr>

        	  <th>Telephone Number</th>

        	  <th><%= @customer.telephone_number %></th>

          </tr>

        </tbody>

      </table>

      <p>

        <%= link_to "登録情報編集", public_edit_customers_path, class:'btn btn-success my2' %>

        <%= link_to "注文履歴一覧", public_orders_path, class:'btn btn-primary my-2' %>

        <a href="#" class="btn btn-secondary my-2">Secondary action</a>

      </p>

    </div>

  </div>

</section>









