<%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>

    <div class="form-group">

    <label for="customer_last_name">Last name</label>

      <%= f.text_field :first_name, class:'form-control item_name'  %>

    </div>

    <div class="form-group">

      <label for="customer_first_name">First name</label>

       <%= f.text_field :first_name, class:'form-control item_introduction' %>

    </div>

    <div class="form-group">

      <label for="customer_last_name_kana">Last name kana</label>

      <%= f.text_field :last_name_kana, class:'form-control item_price' %>

    </div>

    <div class="form-group">

      <label for="customer_first_name_kana">First_name_kana</label>

      <%= f.text_field :first_name_kana, class:'form-control item_price' %>

    </div>

    <div class="form-group">

      <label for="customer_email">Email</label>

      <%= f.text_field :email, class:'form-control item_price' %>

    </div>

    <div class="form-group">

      <label for="customer_encrypted_password">Password</label>

      <%= f.text_field :encrypted_password, class:'form-control item_price' %>

    </div>

    <div class="form-group">

      <label for="customer_postal_code">Postal code</label>

      <%= f.text_field :postal_code, class:'form-control item_price' %>

    </div>

    <div class="form-group">

      <label for="customer_address">Address</label>

      <%= f.text_field :address, class:'form-control item_price' %>

    </div>

    <div class="form-group">

      <label for="customer_telephone_number">Telephone number</label>

      <%= f.text_field :telephone_number, class:'form-control item_price' %>

    </div>

    <div class="form-group">

      <%= f.submit 'Update item', class:'btn btn-success' %>

    </div>

<% end %>