
<div>

  <tbody>

    <tr>

      <td>

        <%= customer.last_name %>

      </td>

      <td>

        <%= customer.first_name %>

      </td>

      <td>

        <%= customer.last_name_kana %>

      </td>

      <td>

        <%= customer.first_name_kana %>

      </td>

      <td>

        <%= customer.email %>

      </td>

      <td>

        <%= customer.encrypted_password %>

      </td>

      <td>

        <%= customer.postal_code %>

      </td>

      <td>

        <%= customer.address %>

      </td>

      <td>

        <%= customer.telephone_number %>

      </td>

      <td>

        <%= customer.is_active %>

      </td>

    </tr>

  </tbody>

</div>