<tbody>

  <tr>

    <td>

      <%= @order.address %>

    </td>

    <td>

      <%= @order.payment_method %>

    </td>

    <td>

      <%= @order.shipping_cost %>

    </td>

    <td>

      <%= @order.total_payment %>

    </td>

    <td>

      <%= @order.payment_method %>

    </td>

  </tr>

</tbody>