<div class="border col-10 mx-auto">

  <br>
  <h2>カート</h2>

  <div class="row">

    <div class="col-md">

      <table class="table">

        <thead class="thead-dark">

          <tr>

            <th scope="col">商品名</th>

            <th scope="col">単価（税込）</th>

            <th scope="col">数量</th>

            <th scope="col">小計</th>

            <th scope="col"> </th>

          </tr>

        </thead>

        <% @cart_items.each do |cart_item| %>

          <tbody>

            <tr>

              <td><%= cart_item.item.name%></td>

              <td><%= cart_item.item.with_tax_price %></td>

              <td><%= cart_item.amount %></td>

              <td><%= cart_item.subtotal %></td>

              <% cart_item.amount += cart_item.subtotal %>

              <td class="text-right">

                <% if cart_item.customer == current_customer %>
                  <%= link_to "削除", public_cart_items_path(cart_item.id), class:'btn btn-sm btn-danger', method: :delete %>
                <% end %>

              </td>

            </tr>

          </tbody>

        <% end %>

      </table>

      <tr>

        <th>合計金額<br>

        </th>



      </tr>

     </div>

  </div>
  <br>

</div>