<div class="border col-10 mx-auto">

  <br>
  <h2>カート</h2>

  <div class="row">

    <div class="col-md">

      <div class="text-right">
        <%= link_to public_cart_items_all_destroy_path, method: :delete do %>
          <button class="btn btn-danger">カートを空にする</button>
        <% end %>
      </div>

      <table class="table">

        <thead class="thead-dark">

          <tr>

            <th scope="col">商品名</th>

            <th scope="col">単価（税込）</th>

            <th scope="col">数量</th>

            <th scope="col">小計</th>

            <th scope="col"> </th>

          </tr>

        </thead>

        <% @cart_items.each do |cart_item| %>

          <tbody>

            <tr>

              <td><%= cart_item.item.name%></td>

              <td><%= (cart_item.item.price*1.1).floor.to_s(:delimited) %></td>

              <td>
                <%= form_with model: cart_item, url: public_cart_item_path(cart_item), local: true do |f| %>
                  <%= f.hidden_field :id, :value => cart_item.id %>
                  <%= f.number_field :amount, size: 1, min: 1 %> <%= f.submit "変更" %>
                <% end %>
              </td>

              <td><%= cart_item.subtotal.to_s(:delimited) %></td>

              <% @total_payment += cart_item.subtotal %>

              <td class="text-right">

                <% if cart_item.customer == current_customer %>
                  <%= link_to "削除", public_cart_items_path(cart_item.id), class:'btn btn-sm btn-danger', method: :delete %>
                <% end %>

              </td>

            </tr>

          </tbody>

        <% end %>

      </table>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-4">

      <%= link_to root_path do %>
        <button class="btn btn-primary">買物を続ける</button>
      <% end %>

    </div>

      <div class="col-xs-4"></div>

      <div class="col-xs-4">

        <table class="table">

          <tr>

            <th class="active">合計金額</th>

            <td>¥<%= @total_payment.to_s(:delimited) %></td>

          </tr>

        </table>

      </div>

      <div class="text-center">

        <% if current_customer.cart_items.any? %>
          <% if current_customer.cart_items.any? %>
            <%= link_to new_public_order_path do %>
              <button class="btn btn-lg btn-success">情報入力へ進む</button>
            <% end %>
          <% end %>
        <% end %>

      </div>

    </div>

  </div>

  <br>

</div>