
<br>
<h1 class="mx-auto col-5 text-center">注文情報入力画面</h1>
<br>

<div class="border col-10 mx-auto">

  <br>
  <h2>注文情報登録</h2>
  <br>

  <%= form_with model: @order, url: public_confirm_path, method: :post do |f| %>

    <div class="row">

      <div class="col-md">

        <div class="form-group">

          <label for="address_name"><strong>支払方法</strong></label><br>

          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>

          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>

        </div>

        <div class="form-group">

          <label for="address_postal_code"><strong>お届け先</strong></label><br>

          <%= f.radio_button :address_id, 0 %>
          <%= f.label :address_id, "ご自身の住所" %><br>

          <p>
          　〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
          　<%= current_customer.first_name %>
          </p><br>

          <%= f.radio_button :address_id, 1 %>
          <%= f.label :address_id, "登録住所" %><br>

          <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %><br>
          <br>
          <br>

          <%= f.radio_button :address_id, 2 %>
          <%= f.label :address_id, "新規住所登録" %><br>

          <span>宛名</span><br>

          <%= f.text_field :name, class:'form-control address_name' %><br>

          <span>郵便番号</span><br>

          <%= f.text_field :postal_code, class:'form-control address_postal_code' %><br>

          <span>住所</span><br>

          <%= f.text_field :address, class:'form-control address' %><br>

        </div>

      </div>

    </div>

    <div class="row mx-auto text-center">

      <div class="col-5 mx-auto">

        <%= f.submit '新規登録', class:'btn btn-outline-primary btn-block' %>

      </div>

    </div>

  <% end %>
  <br>
  <br>

</div>

<br>
<br>



